{
  "openapi": "3.1.0",
  "info": {
    "title": "Fileee Internal API (reverse-engineered)",
    "version": "0.1.0",
    "description": "KEIN offizielles API. Dies ist die interne Web-App-API von my.fileee.com, rekonstruiert aus eigenem, eingeloggtem HAR-Traffic und Offline-Analyse des an den Browser ausgelieferten Anwendungscodes (416 JS-Bundle-Dateien, darunter ein Kotlin/JS-kompiliertes Core-SDK io.fileee.shared.*). Kein Reverse-Engineering von Server-Binaries, keine oeffentliche API-Zusage von fileee. Sie kann sich jederzeit aendern. Nutzung ausschliesslich gegen das EIGENE Konto, mit konservativem Rate-Limiting (Token-Bucket, exponentielles Backoff bei 429/5xx und bei secondsBlocked > 0). Basis fuer die Go-Library strausmann/go-fileee. Felder/Endpunkte mit x-unverified:true sind noch nicht live gegen ein Test-Konto verifiziert (siehe docs/API.md Abschnitt 9 'Verifikations-Status').",
    "contact": {
      "name": "strausmann/go-fileee",
      "url": "https://github.com/strausmann/go-fileee"
    },
    "license": {
      "name": "Kein offizielles Fileee-API - interne Rekonstruktion, keine Herstellerlizenz."
    }
  },
  "servers": [
    {
      "url": "https://my.fileee.com",
      "description": "Produktive Fileee-Web-App (einziger bekannter Host)."
    }
  ],
  "tags": [
    {
      "name": "Auth",
      "description": "Login/Session/Logout, Konto-/2FA-Check, Abo-Status."
    },
    {
      "name": "Documents",
      "description": "Zentrale Dokument-Ressource: CRUD, Upload, Sync, PDF/Bild/OCR-Export, ZIP-Jobs."
    },
    {
      "name": "Trash",
      "description": "Papierkorb / Soft-Delete-Flow der Web-UI."
    },
    {
      "name": "FileeeBoxes",
      "description": "Fileee-Box-Organisationskonzept (Ordner-aehnlich)."
    },
    {
      "name": "Sharing",
      "description": "Oeffentliche Freigaben (Share-Links), kein Login noetig."
    },
    {
      "name": "Tags",
      "description": "Schlagwoerter (-> z.B. Paperless-Tags)."
    },
    {
      "name": "Companies",
      "description": "Absender-/Empfaenger-Firmen (-> z.B. Paperless-Correspondents)."
    },
    {
      "name": "Contacts",
      "description": "Persoenliche Kontakte mit Adresse."
    },
    {
      "name": "DocumentTypes",
      "description": "Dokumenttypen und ihre Feld-Schemata (-> z.B. Paperless-Document-Types/Custom-Fields)."
    },
    {
      "name": "Sync",
      "description": "Weitere Sync-faehige Ressourcen (Konversationen, Lizenzen, Erinnerungen, Einstellungen, generischer Query/Diff)."
    },
    {
      "name": "Push",
      "description": "Server-Sent-Events fuer Live-Sync statt Polling."
    }
  ],
  "paths": {
    "/api/f/start": {
      "get": {
        "summary": "Startup-Bootstrap-Ping",
        "description": "Reiner Startup-Bootstrap-Ping (React-Query-Key startup.fStart). Response-Body wird komplett ignoriert - stuetzt (beweist nicht abschliessend) die Annahme, dass hier per Set-Cookie initiale Session-/CSRF-Cookies gesetzt werden. Vor dem Login aufrufen.",
        "tags": [
          "Auth"
        ],
        "responses": {
          "204": {
            "description": "Bootstrap erfolgreich (Body wird ignoriert)."
          }
        },
        "security": []
      }
    },
    "/api/f/existent": {
      "post": {
        "summary": "Konto-/2FA-Check (vor Login)",
        "description": "Prueft ob ein Konto existiert und ob 2FA aktiv ist - vor dem eigentlichen Login.",
        "tags": [
          "Auth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "username"
                ],
                "properties": {
                  "username": {
                    "type": "string",
                    "description": "E-Mail-Adresse.",
                    "examples": [
                      "<email>"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Konto-/2FA-Status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExistentResponse"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/api/f/exists": {
      "get": {
        "summary": "Konto-Existenz-Check (GET-Variante)",
        "description": "GET-Variante des Konto-Existenz-Checks, im Traffic beobachtet.",
        "tags": [
          "Auth"
        ],
        "responses": {
          "200": {
            "description": "Analog POST /api/f/existent angenommen.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExistentResponse"
                }
              }
            },
            "x-unverified": true,
            "x-unverified-note": "Response-Form nicht im Detail verifiziert - analog POST /api/f/existent angenommen."
          },
          "403": {
            "description": "Ungueltige/abgelaufene Session oder fehlgeschlagenes CSRF-Double-Submit (kein gueltiges JSESSIONID/x-xsrf-token-Paar). LIVE bestaetigt (part4, 2026-07-23): Body ist bei diff-Endpunkten teils leer, bei anderen Endpunkten (z.B. /f/exists) ApiError. Re-Auth-Regel: POST /api/f/token/login mit rememberMe versuchen, dann 1x wiederholen.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/api/f/login": {
      "post": {
        "summary": "Passwort-Login (+ TOTP)",
        "description": "Das TOTP-Feld wird im selben Request mitgeschickt - kein separater 2FA-Schritt. Erfolg setzt Session-Cookie (JSESSIONID) + XSRF-TOKEN via Set-Cookie; kein Token im Body.",
        "tags": [
          "Auth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "username",
                  "password"
                ],
                "properties": {
                  "username": {
                    "type": "string",
                    "description": "E-Mail.",
                    "examples": [
                      "<email>"
                    ]
                  },
                  "password": {
                    "type": "string",
                    "description": "Passwort (niemals loggen)."
                  },
                  "two-factor-token": {
                    "type": "string",
                    "description": "6-stelliger TOTP-Code (RFC 6238), Pflicht bei aktivem 2FA.",
                    "examples": [
                      "123456"
                    ]
                  },
                  "conversationAddWithoutInvite": {
                    "type": "boolean",
                    "description": "Im Traffic immer false beobachtet.",
                    "x-unverified": true,
                    "x-unverified-note": "Genauer Zweck dieses Felds ist nicht abschliessend verifiziert (vermutlich UI-Flag)."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login erfolgreich, Set-Cookie mit Session + XSRF-TOKEN.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse"
                }
              }
            }
          },
          "403": {
            "description": "Ungueltige/abgelaufene Session oder fehlgeschlagenes CSRF-Double-Submit (kein gueltiges JSESSIONID/x-xsrf-token-Paar). LIVE bestaetigt (part4, 2026-07-23): Body ist bei diff-Endpunkten teils leer, bei anderen Endpunkten (z.B. /f/exists) ApiError. Re-Auth-Regel: POST /api/f/token/login mit rememberMe versuchen, dann 1x wiederholen.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/api/f/token/login": {
      "post": {
        "summary": "Token-Login (Re-Auth via rememberMe)",
        "description": "Bevorzugter headless Re-Auth-Pfad: token = Wert des langlebigen rememberMe-JWT-Cookies (GEKLAERT per Browser-Session 2026-07-23). Zwei unabhaengige Aufrufer im Code: (1) Web-App sendet nur {token}; (2) Kotlin-Core-SDK sendet einen reichhaltigeren Body (Device-/Mobile-Login-Flow mit Zusatzfeldern, im Detail nicht vollstaendig aufgeloest). Bei 403 auf einem geschuetzten Endpunkt: hiermit einmalig re-authentifizieren (mutex-geschuetzt), dann Original-Request 1x wiederholen. Schlaegt auch das fehl: voller Passwort+TOTP-Login noetig.",
        "tags": [
          "Auth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "token"
                ],
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "Wert des rememberMe-Cookies (Web-App-Pfad, nur dieses eine Feld)."
                  }
                },
                "x-unverified": true,
                "x-unverified-note": "Der Kotlin-Core-SDK-Aufrufer sendet zusaetzliche Positionsparameter (Device-/Mobile-Flow), die im Detail nicht vollstaendig aufgeloest sind."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Neue Session + frischer XSRF-TOKEN via Set-Cookie.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse"
                }
              }
            }
          },
          "403": {
            "description": "rememberMe ebenfalls ungueltig - voller Passwort+TOTP-Login noetig.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "rememberMeCookie": []
          }
        ]
      }
    },
    "/api/f/logout": {
      "post": {
        "summary": "Session beenden",
        "description": "Kein Body. Gegenstueck zu /f/login - beendet die Session serverseitig. Code-belegt (Haupt-Bundle index-DSrKMhJw.js), bisher in keinem HAR beobachtet.",
        "tags": [
          "Auth"
        ],
        "responses": {
          "200": {
            "description": "Session beendet."
          },
          "403": {
            "description": "Ungueltige/abgelaufene Session oder fehlgeschlagenes CSRF-Double-Submit (kein gueltiges JSESSIONID/x-xsrf-token-Paar). LIVE bestaetigt (part4, 2026-07-23): Body ist bei diff-Endpunkten teils leer, bei anderen Endpunkten (z.B. /f/exists) ApiError. Re-Auth-Regel: POST /api/f/token/login mit rememberMe versuchen, dann 1x wiederholen.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "sessionCookie": [],
            "xsrfToken": []
          }
        ]
      }
    },
    "/api/f/user-session": {
      "get": {
        "summary": "Aktuelle Session + Nutzerprofil",
        "description": "authorized:true zur Kontrolle nach Login. secondsBlocked > 0 = Rate-Limit-Sperre aktiv.",
        "tags": [
          "Auth"
        ],
        "responses": {
          "200": {
            "description": "Session- und Profildaten.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserSession"
                }
              }
            }
          },
          "403": {
            "description": "Ungueltige/abgelaufene Session oder fehlgeschlagenes CSRF-Double-Submit (kein gueltiges JSESSIONID/x-xsrf-token-Paar). LIVE bestaetigt (part4, 2026-07-23): Body ist bei diff-Endpunkten teils leer, bei anderen Endpunkten (z.B. /f/exists) ApiError. Re-Auth-Regel: POST /api/f/token/login mit rememberMe versuchen, dann 1x wiederholen.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      }
    },
    "/api/f/account-status": {
      "get": {
        "summary": "Abo-/Lizenzstatus",
        "description": "Ergaenzt durch POST /api/feature-licenses/rest/query fuer granulares Lizenz-/Kontingent-Tracking.",
        "tags": [
          "Auth"
        ],
        "responses": {
          "200": {
            "description": "Abo-/Lizenzstatus.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountStatus"
                }
              }
            }
          },
          "403": {
            "description": "Ungueltige/abgelaufene Session oder fehlgeschlagenes CSRF-Double-Submit (kein gueltiges JSESSIONID/x-xsrf-token-Paar). LIVE bestaetigt (part4, 2026-07-23): Body ist bei diff-Endpunkten teils leer, bei anderen Endpunkten (z.B. /f/exists) ApiError. Re-Auth-Regel: POST /api/f/token/login mit rememberMe versuchen, dann 1x wiederholen.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      }
    },
    "/api/callback/openid-connect/google": {
      "get": {
        "summary": "OIDC-Callback (Google, Browser-Flow)",
        "description": "Nur relevant fuer den interaktiven Browser-Login (Google-SSO). Fuer einen headless Go-Client ohne Bedeutung.",
        "tags": [
          "Auth"
        ],
        "responses": {
          "302": {
            "description": "Redirect nach erfolgreicher OIDC-Authentifizierung (Browser-Flow)."
          }
        },
        "security": []
      }
    },
    "/api/callback/openid/legacy": {
      "get": {
        "summary": "OIDC-Callback (Legacy, Browser-Flow)",
        "description": "Legacy-Variante des OIDC-Callbacks. Nur relevant fuer den interaktiven Browser-Login.",
        "tags": [
          "Auth"
        ],
        "responses": {
          "302": {
            "description": "Redirect nach erfolgreicher OIDC-Authentifizierung (Browser-Flow)."
          }
        },
        "security": []
      }
    },
    "/api/documents/rest": {
      "post": {
        "summary": "Dokument anlegen (Upload)",
        "description": "id wird CLIENT-generiert (InstanceHelper.newObjectId()) und immer mitgesendet, nicht vom Server vergeben. file kann mehrfach angehaengt werden. Serverseitige Duplikaterkennung: weicht response.data.id von der gesendeten id ab, hat der Server ein bereits existierendes Dokument erkannt statt ein neues anzulegen.",
        "tags": [
          "Documents"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "file",
                  "id"
                ],
                "properties": {
                  "file": {
                    "description": "Binaerdatei(en) - Formfeld, mehrfach moeglich (mehrere Dateien -> 1 Dokument).",
                    "oneOf": [
                      {
                        "type": "string",
                        "contentEncoding": "binary"
                      },
                      {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "contentEncoding": "binary"
                        }
                      }
                    ]
                  },
                  "id": {
                    "type": "string",
                    "description": "Client-generierte ID (InstanceHelper.newObjectId()), IMMER gesendet.",
                    "examples": [
                      "<client-generierte-id>"
                    ]
                  },
                  "document": {
                    "type": "string",
                    "description": "Optional: volles JSON-Metadaten-Objekt (als String)."
                  },
                  "attributes.data.title.value": {
                    "type": "string",
                    "description": "Fallback-Formfeld statt vollem document-Objekt: Titel/Dateiname.",
                    "examples": [
                      "<Titel-oder-Dateiname>"
                    ]
                  },
                  "meta": {
                    "type": "string",
                    "description": "Optional, JSON.stringify()-serialisiertes Zusatzfeld (bisher undokumentiert)."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Angelegtes (oder erkanntes bereits existierendes) Dokument. Die zurueckgegebene id mit der gesendeten id vergleichen: weichen sie ab, hat der Server ein Duplikat erkannt.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Document"
                }
              }
            }
          },
          "403": {
            "description": "Ungueltige/abgelaufene Session oder fehlgeschlagenes CSRF-Double-Submit (kein gueltiges JSESSIONID/x-xsrf-token-Paar). LIVE bestaetigt (part4, 2026-07-23): Body ist bei diff-Endpunkten teils leer, bei anderen Endpunkten (z.B. /f/exists) ApiError. Re-Auth-Regel: POST /api/f/token/login mit rememberMe versuchen, dann 1x wiederholen.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "sessionCookie": [],
            "xsrfToken": []
          }
        ]
      }
    },
    "/api/documents/rest/{id}": {
      "get": {
        "summary": "Einzeldokument lesen",
        "description": "Volles Objekt inkl. erweitertem attributes.data.",
        "tags": [
          "Documents"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Dokument-ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Dokument.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Document"
                }
              }
            }
          },
          "404": {
            "description": "Objekt mit dieser ID nicht gefunden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Ungueltige/abgelaufene Session oder fehlgeschlagenes CSRF-Double-Submit (kein gueltiges JSESSIONID/x-xsrf-token-Paar). LIVE bestaetigt (part4, 2026-07-23): Body ist bei diff-Endpunkten teils leer, bei anderen Endpunkten (z.B. /f/exists) ApiError. Re-Auth-Regel: POST /api/f/token/login mit rememberMe versuchen, dann 1x wiederholen.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      },
      "put": {
        "summary": "Dokument aendern",
        "description": "Body = vollstaendiges Dokumentobjekt (fuer Metadaten-Korrekturen: Titel, Tags, Typ). Optimistic-Locking ueber version ist Design-Intention (client-seitiger Auto-Retry bei fehlgeschlagenem Update belegt).",
        "tags": [
          "Documents"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Dokument-ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Document"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Aktualisiertes Dokument.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Document"
                }
              }
            }
          },
          "404": {
            "description": "Objekt mit dieser ID nicht gefunden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Ungueltige/abgelaufene Session oder fehlgeschlagenes CSRF-Double-Submit (kein gueltiges JSESSIONID/x-xsrf-token-Paar). LIVE bestaetigt (part4, 2026-07-23): Body ist bei diff-Endpunkten teils leer, bei anderen Endpunkten (z.B. /f/exists) ApiError. Re-Auth-Regel: POST /api/f/token/login mit rememberMe versuchen, dann 1x wiederholen.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "409": {
            "description": "Vermuteter Versionskonflikt (Optimistic Locking) bei veralteter version.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            },
            "x-unverified": true,
            "x-unverified-note": "Exakter Server-Fehlercode bei version-Konflikt ist nicht code-sichtbar (Verifikationspunkt b) - Client sieht automatischen Retry vor, der genaue HTTP-Status/apiError-Wert ist nicht belegt."
          }
        },
        "security": [
          {
            "sessionCookie": [],
            "xsrfToken": []
          }
        ]
      },
      "delete": {
        "summary": "Dokument hart loeschen",
        "description": "Code-belegt (generischer REST-Client deleteById(), baseUrl=documents/rest, HTTP DELETE). Im Live-Traffic NIE beobachtet - die Web-UI nutzt fuer Dokumente standardmaessig den Soft-Delete/Trash-Flow (siehe /api/deleted-documents/*). Vor produktivem Einsatz gegen ein Test-Konto verifizieren, ob dieser Pfad fuer bereits nicht-geloeschte Dokumente ueberhaupt akzeptiert wird.",
        "tags": [
          "Documents"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Dokument-ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Hart geloescht."
          },
          "404": {
            "description": "Objekt mit dieser ID nicht gefunden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Ungueltige/abgelaufene Session oder fehlgeschlagenes CSRF-Double-Submit (kein gueltiges JSESSIONID/x-xsrf-token-Paar). LIVE bestaetigt (part4, 2026-07-23): Body ist bei diff-Endpunkten teils leer, bei anderen Endpunkten (z.B. /f/exists) ApiError. Re-Auth-Regel: POST /api/f/token/login mit rememberMe versuchen, dann 1x wiederholen.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "sessionCookie": [],
            "xsrfToken": []
          }
        ]
      }
    },
    "/api/documents/rest/diff": {
      "post": {
        "summary": "Dokumente Liste/Sync (Delta)",
        "description": "Delta-Sync ueber criteria/sortOrder/localResults. rows[] je Dokument mit id/version/modified/status/type/deleted/pages/attributes/uploadAttribute/sharedSpaceIds/forbiddenActions.",
        "tags": [
          "Documents"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DiffRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Delta-Ergebnis.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiffResult"
                }
              }
            }
          },
          "403": {
            "description": "Ungueltige/abgelaufene Session oder fehlgeschlagenes CSRF-Double-Submit (kein gueltiges JSESSIONID/x-xsrf-token-Paar). LIVE bestaetigt (part4, 2026-07-23): Body ist bei diff-Endpunkten teils leer, bei anderen Endpunkten (z.B. /f/exists) ApiError. Re-Auth-Regel: POST /api/f/token/login mit rememberMe versuchen, dann 1x wiederholen.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "sessionCookie": [],
            "xsrfToken": []
          }
        ]
      }
    },
    "/api/documents/rest/{id}/revision-lock": {
      "post": {
        "summary": "Aufbewahrungssperre setzen",
        "description": "Setzt eine Revisionssicherheits-Sperre (z.B. Paragraph 147 AO / GoBD-Aufbewahrungsfrist) auf ein Dokument - entspricht DocumentAction.REVISION_LOCK.",
        "tags": [
          "Documents"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Dokument-ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RevisionInformation"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sperre gesetzt."
          },
          "404": {
            "description": "Objekt mit dieser ID nicht gefunden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Ungueltige/abgelaufene Session oder fehlgeschlagenes CSRF-Double-Submit (kein gueltiges JSESSIONID/x-xsrf-token-Paar). LIVE bestaetigt (part4, 2026-07-23): Body ist bei diff-Endpunkten teils leer, bei anderen Endpunkten (z.B. /f/exists) ApiError. Re-Auth-Regel: POST /api/f/token/login mit rememberMe versuchen, dann 1x wiederholen.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "sessionCookie": [],
            "xsrfToken": []
          }
        ]
      }
    },
    "/api/documents/rest/multi-edit": {
      "post": {
        "summary": "Bulk-Edit ueber Query-Filter",
        "description": "Aendert alle Dokumente, die auf documentQuery matchen, in einem Request statt per Einzel-PUT.",
        "tags": [
          "Documents"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MultiEditRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bulk-Edit durchgefuehrt."
          },
          "403": {
            "description": "Ungueltige/abgelaufene Session oder fehlgeschlagenes CSRF-Double-Submit (kein gueltiges JSESSIONID/x-xsrf-token-Paar). LIVE bestaetigt (part4, 2026-07-23): Body ist bei diff-Endpunkten teils leer, bei anderen Endpunkten (z.B. /f/exists) ApiError. Re-Auth-Regel: POST /api/f/token/login mit rememberMe versuchen, dann 1x wiederholen.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "sessionCookie": [],
            "xsrfToken": []
          }
        ]
      }
    },
    "/api/documents/rest/zip": {
      "post": {
        "summary": "ZIP-Export-Job starten",
        "description": "Startet einen asynchronen ZIP-Export-Job (ServerProcess-Konzept). Status danach via GET .../zip/{jobId} pollen.",
        "tags": [
          "Documents"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDocumentZipRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Job gestartet (jobId im Body, exakte Form nicht separat dokumentiert).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ZipJobStatus"
                }
              }
            }
          },
          "202": {
            "description": "Moeglicher Async-Job-Start-Response gemaess ServerProcess-Konzept - im untersuchten Traffic/Code nicht explizit als 202 belegt, sondern aus dem allgemeinen Muster asynchroner Hintergrund-Jobs abgeleitet.",
            "x-unverified": true
          },
          "403": {
            "description": "Ungueltige/abgelaufene Session oder fehlgeschlagenes CSRF-Double-Submit (kein gueltiges JSESSIONID/x-xsrf-token-Paar). LIVE bestaetigt (part4, 2026-07-23): Body ist bei diff-Endpunkten teils leer, bei anderen Endpunkten (z.B. /f/exists) ApiError. Re-Auth-Regel: POST /api/f/token/login mit rememberMe versuchen, dann 1x wiederholen.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "sessionCookie": [],
            "xsrfToken": []
          }
        ]
      }
    },
    "/api/documents/rest/zip/{jobId}": {
      "get": {
        "summary": "ZIP-Job-Status abfragen",
        "description": "Pollt den Status eines ueber POST .../zip gestarteten ZIP-Export-Jobs.",
        "tags": [
          "Documents"
        ],
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "description": "Job-ID aus der Zip-Start-Antwort.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job-Status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ZipJobStatus"
                }
              }
            }
          },
          "404": {
            "description": "Objekt mit dieser ID nicht gefunden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Ungueltige/abgelaufene Session oder fehlgeschlagenes CSRF-Double-Submit (kein gueltiges JSESSIONID/x-xsrf-token-Paar). LIVE bestaetigt (part4, 2026-07-23): Body ist bei diff-Endpunkten teils leer, bei anderen Endpunkten (z.B. /f/exists) ApiError. Re-Auth-Regel: POST /api/f/token/login mit rememberMe versuchen, dann 1x wiederholen.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      },
      "delete": {
        "summary": "ZIP-Job abbrechen",
        "description": "Bricht einen laufenden ZIP-Export-Job ab.",
        "tags": [
          "Documents"
        ],
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "description": "Job-ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job abgebrochen."
          },
          "404": {
            "description": "Objekt mit dieser ID nicht gefunden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Ungueltige/abgelaufene Session oder fehlgeschlagenes CSRF-Double-Submit (kein gueltiges JSESSIONID/x-xsrf-token-Paar). LIVE bestaetigt (part4, 2026-07-23): Body ist bei diff-Endpunkten teils leer, bei anderen Endpunkten (z.B. /f/exists) ApiError. Re-Auth-Regel: POST /api/f/token/login mit rememberMe versuchen, dann 1x wiederholen.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "sessionCookie": [],
            "xsrfToken": []
          }
        ]
      }
    },
    "/api/v1/documents/{id}/pdf": {
      "get": {
        "summary": "Original-PDF (Download/Druckansicht)",
        "description": "Primaerer Weg fuer Dokument-Export. mode-Werte vollstaendig belegt (imageHelper-*.js, drei unabhaengige Call-Sites): download (Standard) und print (Druckansicht).",
        "tags": [
          "Documents"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Dokument-ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mode",
            "in": "query",
            "required": false,
            "description": "download = Standardvariante, print = Druckansicht/-vorschau.",
            "schema": {
              "$ref": "#/components/schemas/PdfMode"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "PDF-Datei.",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "contentEncoding": "binary"
                }
              }
            }
          },
          "404": {
            "description": "Objekt mit dieser ID nicht gefunden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Ungueltige/abgelaufene Session oder fehlgeschlagenes CSRF-Double-Submit (kein gueltiges JSESSIONID/x-xsrf-token-Paar). LIVE bestaetigt (part4, 2026-07-23): Body ist bei diff-Endpunkten teils leer, bei anderen Endpunkten (z.B. /f/exists) ApiError. Re-Auth-Regel: POST /api/f/token/login mit rememberMe versuchen, dann 1x wiederholen.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      }
    },
    "/api/v1/documents/{id}/original": {
      "get": {
        "summary": "Original-Datei ohne PDF-Wrapping",
        "description": "Laedt die urspruenglich hochgeladene Datei direkt herunter (z.B. Original-Bild/-Scan ohne PDF-Konvertierung).",
        "tags": [
          "Documents"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Dokument-ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Original-Binaerdatei.",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "contentEncoding": "binary"
                }
              }
            }
          },
          "404": {
            "description": "Objekt mit dieser ID nicht gefunden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Ungueltige/abgelaufene Session oder fehlgeschlagenes CSRF-Double-Submit (kein gueltiges JSESSIONID/x-xsrf-token-Paar). LIVE bestaetigt (part4, 2026-07-23): Body ist bei diff-Endpunkten teils leer, bei anderen Endpunkten (z.B. /f/exists) ApiError. Re-Auth-Regel: POST /api/f/token/login mit rememberMe versuchen, dann 1x wiederholen.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      }
    },
    "/api/v1/documents/download": {
      "get": {
        "summary": "Bulk-Download mehrerer Dokumente",
        "description": "Mehrere Dokumente gebuendelt herunterladen, IDs als Kommaliste im Query-Parameter documents.",
        "tags": [
          "Documents"
        ],
        "parameters": [
          {
            "name": "documents",
            "in": "query",
            "required": true,
            "description": "Kommaliste von Dokument-IDs.",
            "schema": {
              "type": "string",
              "examples": [
                "<id1>,<id2>"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Gebuendelte Datei (vermutlich ZIP).",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "contentEncoding": "binary"
                }
              }
            }
          },
          "403": {
            "description": "Ungueltige/abgelaufene Session oder fehlgeschlagenes CSRF-Double-Submit (kein gueltiges JSESSIONID/x-xsrf-token-Paar). LIVE bestaetigt (part4, 2026-07-23): Body ist bei diff-Endpunkten teils leer, bei anderen Endpunkten (z.B. /f/exists) ApiError. Re-Auth-Regel: POST /api/f/token/login mit rememberMe versuchen, dann 1x wiederholen.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      }
    },
    "/api/pages/{id}": {
      "get": {
        "summary": "Seiten-OCR (Bounding-Boxes)",
        "description": "Liste von OCR-Bounding-Boxes, ein Eintrag je erkanntem Wort/Textblock. text ist erkannter Dokumentinhalt -> PII, nie loggen/ausgeben. Nutzbar fuer Volltext-Suche/Positionierung.",
        "tags": [
          "Documents"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Seiten-ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OCR-Bounding-Boxes.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OcrBoundingBox"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Objekt mit dieser ID nicht gefunden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Ungueltige/abgelaufene Session oder fehlgeschlagenes CSRF-Double-Submit (kein gueltiges JSESSIONID/x-xsrf-token-Paar). LIVE bestaetigt (part4, 2026-07-23): Body ist bei diff-Endpunkten teils leer, bei anderen Endpunkten (z.B. /f/exists) ApiError. Re-Auth-Regel: POST /api/f/token/login mit rememberMe versuchen, dann 1x wiederholen.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      }
    },
    "/api/v1/pages/{id}/image": {
      "get": {
        "summary": "Seiten-Bild (JPEG)",
        "description": "version = imageVersion aus pages[] - immer frisch aus dem zuletzt geladenen pages[]-Array nehmen, nicht cachen. size-Werte vollstaendig belegt als benannte Code-Konstanten.",
        "tags": [
          "Documents"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Flache Seiten-ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "description": "smedium = Default-Thumbnail, medium = grosse Ansicht.",
            "schema": {
              "$ref": "#/components/schemas/ImageSize"
            }
          },
          {
            "name": "version",
            "in": "query",
            "required": false,
            "description": "imageVersion aus pages[] - immer frisch nehmen.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Seiten-Bild.",
            "content": {
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "contentEncoding": "binary"
                }
              }
            }
          },
          "404": {
            "description": "Objekt mit dieser ID nicht gefunden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Ungueltige/abgelaufene Session oder fehlgeschlagenes CSRF-Double-Submit (kein gueltiges JSESSIONID/x-xsrf-token-Paar). LIVE bestaetigt (part4, 2026-07-23): Body ist bei diff-Endpunkten teils leer, bei anderen Endpunkten (z.B. /f/exists) ApiError. Re-Auth-Regel: POST /api/f/token/login mit rememberMe versuchen, dann 1x wiederholen.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      }
    },
    "/api/v1/documents/{id}/pages/{pageId}/image": {
      "get": {
        "summary": "Seiten-Bild, alternative Route",
        "description": "Adressiert das Seiten-Bild ueber Dokument-ID UND Seiten-ID statt nur ueber die flache Seiten-ID (/v1/pages/{id}/image). Beide Routen existieren parallel im Code.",
        "tags": [
          "Documents"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Dokument-ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageId",
            "in": "path",
            "required": true,
            "description": "Seiten-ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "description": "smedium = Default-Thumbnail, medium = grosse Ansicht.",
            "schema": {
              "$ref": "#/components/schemas/ImageSize"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Seiten-Bild.",
            "content": {
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "contentEncoding": "binary"
                }
              }
            }
          },
          "404": {
            "description": "Objekt mit dieser ID nicht gefunden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Ungueltige/abgelaufene Session oder fehlgeschlagenes CSRF-Double-Submit (kein gueltiges JSESSIONID/x-xsrf-token-Paar). LIVE bestaetigt (part4, 2026-07-23): Body ist bei diff-Endpunkten teils leer, bei anderen Endpunkten (z.B. /f/exists) ApiError. Re-Auth-Regel: POST /api/f/token/login mit rememberMe versuchen, dann 1x wiederholen.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      }
    },
    "/api/deleted-documents/list": {
      "post": {
        "summary": "Papierkorb-Liste",
        "description": "Liste der geloeschten, aber nicht endgueltig entfernten Dokumente.",
        "tags": [
          "Trash"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeletedDocumentsListRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Papierkorb-Inhalt.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Document"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Ungueltige/abgelaufene Session oder fehlgeschlagenes CSRF-Double-Submit (kein gueltiges JSESSIONID/x-xsrf-token-Paar). LIVE bestaetigt (part4, 2026-07-23): Body ist bei diff-Endpunkten teils leer, bei anderen Endpunkten (z.B. /f/exists) ApiError. Re-Auth-Regel: POST /api/f/token/login mit rememberMe versuchen, dann 1x wiederholen.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "sessionCookie": [],
            "xsrfToken": []
          }
        ]
      }
    },
    "/api/deleted-documents/{id}/delete-permanently": {
      "delete": {
        "summary": "Einzelnes Dokument endgueltig loeschen",
        "tags": [
          "Trash"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Dokument-ID im Papierkorb.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Endgueltig geloescht."
          },
          "404": {
            "description": "Objekt mit dieser ID nicht gefunden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Ungueltige/abgelaufene Session oder fehlgeschlagenes CSRF-Double-Submit (kein gueltiges JSESSIONID/x-xsrf-token-Paar). LIVE bestaetigt (part4, 2026-07-23): Body ist bei diff-Endpunkten teils leer, bei anderen Endpunkten (z.B. /f/exists) ApiError. Re-Auth-Regel: POST /api/f/token/login mit rememberMe versuchen, dann 1x wiederholen.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "sessionCookie": [],
            "xsrfToken": []
          }
        ]
      }
    },
    "/api/deleted-documents/delete-permanently-all": {
      "delete": {
        "summary": "Papierkorb komplett leeren",
        "tags": [
          "Trash"
        ],
        "responses": {
          "200": {
            "description": "Papierkorb geleert."
          },
          "403": {
            "description": "Ungueltige/abgelaufene Session oder fehlgeschlagenes CSRF-Double-Submit (kein gueltiges JSESSIONID/x-xsrf-token-Paar). LIVE bestaetigt (part4, 2026-07-23): Body ist bei diff-Endpunkten teils leer, bei anderen Endpunkten (z.B. /f/exists) ApiError. Re-Auth-Regel: POST /api/f/token/login mit rememberMe versuchen, dann 1x wiederholen.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "sessionCookie": [],
            "xsrfToken": []
          }
        ]
      }
    },
    "/api/fileeeboxes/{boxId}/{documentId}": {
      "post": {
        "summary": "Dokument einer Fileee-Box hinzufuegen",
        "description": "Fileee-Box ist ein bisher nicht dokumentiertes Organisationskonzept (vermutlich ein Ordner/eine Sammel-Ablage fuer Dokumente, aehnlich eines Shared-Space). Feldstruktur der Box selbst (Name, Owner, geteilte Mitglieder) nicht code-seitig vertieft.",
        "tags": [
          "FileeeBoxes"
        ],
        "parameters": [
          {
            "name": "boxId",
            "in": "path",
            "required": true,
            "description": "Fileee-Box-ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "documentId",
            "in": "path",
            "required": true,
            "description": "Dokument-ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Dokument hinzugefuegt."
          },
          "403": {
            "description": "Ungueltige/abgelaufene Session oder fehlgeschlagenes CSRF-Double-Submit (kein gueltiges JSESSIONID/x-xsrf-token-Paar). LIVE bestaetigt (part4, 2026-07-23): Body ist bei diff-Endpunkten teils leer, bei anderen Endpunkten (z.B. /f/exists) ApiError. Re-Auth-Regel: POST /api/f/token/login mit rememberMe versuchen, dann 1x wiederholen.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "sessionCookie": [],
            "xsrfToken": []
          }
        ]
      },
      "delete": {
        "summary": "Dokument aus Fileee-Box entfernen",
        "tags": [
          "FileeeBoxes"
        ],
        "parameters": [
          {
            "name": "boxId",
            "in": "path",
            "required": true,
            "description": "Fileee-Box-ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "documentId",
            "in": "path",
            "required": true,
            "description": "Dokument-ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Dokument entfernt."
          },
          "403": {
            "description": "Ungueltige/abgelaufene Session oder fehlgeschlagenes CSRF-Double-Submit (kein gueltiges JSESSIONID/x-xsrf-token-Paar). LIVE bestaetigt (part4, 2026-07-23): Body ist bei diff-Endpunkten teils leer, bei anderen Endpunkten (z.B. /f/exists) ApiError. Re-Auth-Regel: POST /api/f/token/login mit rememberMe versuchen, dann 1x wiederholen.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "sessionCookie": [],
            "xsrfToken": []
          }
        ]
      }
    },
    "/api/fileeeboxes/delete": {
      "post": {
        "summary": "Fileee-Box loeschen",
        "tags": [
          "FileeeBoxes"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Fileee-Box-ID."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Box geloescht."
          },
          "403": {
            "description": "Ungueltige/abgelaufene Session oder fehlgeschlagenes CSRF-Double-Submit (kein gueltiges JSESSIONID/x-xsrf-token-Paar). LIVE bestaetigt (part4, 2026-07-23): Body ist bei diff-Endpunkten teils leer, bei anderen Endpunkten (z.B. /f/exists) ApiError. Re-Auth-Regel: POST /api/f/token/login mit rememberMe versuchen, dann 1x wiederholen.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "sessionCookie": [],
            "xsrfToken": []
          }
        ]
      }
    },
    "/api/shares/get/{token}/{id}/pdf": {
      "get": {
        "summary": "PDF eines oeffentlich geteilten Dokuments",
        "description": "token ist der Freigabe-Token aus einem Share-Link - kein Session-Cookie noetig, da oeffentlich zugaenglich. Gleiche mode-Werte wie beim regulaeren PDF-Endpunkt.",
        "tags": [
          "Sharing"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "description": "Freigabe-Token aus dem Share-Link.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Dokument-ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mode",
            "in": "query",
            "required": false,
            "description": "download = Standardvariante, print = Druckansicht.",
            "schema": {
              "$ref": "#/components/schemas/PdfMode"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "PDF-Datei.",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "contentEncoding": "binary"
                }
              }
            }
          },
          "404": {
            "description": "Objekt mit dieser ID nicht gefunden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/api/v1/sharing/{token}/{pageId}": {
      "get": {
        "summary": "Seiten-Bild einer oeffentlichen Freigabe",
        "description": "Gleiche size-Werte wie beim regulaeren Seiten-Bild-Endpunkt. Kein Login noetig.",
        "tags": [
          "Sharing"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "description": "Freigabe-Token aus dem Share-Link.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageId",
            "in": "path",
            "required": true,
            "description": "Seiten-ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "description": "smedium = Default-Thumbnail, medium = grosse Ansicht.",
            "schema": {
              "$ref": "#/components/schemas/ImageSize"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Seiten-Bild.",
            "content": {
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "contentEncoding": "binary"
                }
              }
            }
          },
          "404": {
            "description": "Objekt mit dieser ID nicht gefunden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/api/tags/rest/diff": {
      "post": {
        "summary": "Tags Delta-Sync",
        "tags": [
          "Tags"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DiffRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Delta-Ergebnis (rows[] je Tag).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiffResult"
                }
              }
            }
          },
          "403": {
            "description": "Ungueltige/abgelaufene Session oder fehlgeschlagenes CSRF-Double-Submit (kein gueltiges JSESSIONID/x-xsrf-token-Paar). LIVE bestaetigt (part4, 2026-07-23): Body ist bei diff-Endpunkten teils leer, bei anderen Endpunkten (z.B. /f/exists) ApiError. Re-Auth-Regel: POST /api/f/token/login mit rememberMe versuchen, dann 1x wiederholen.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "sessionCookie": [],
            "xsrfToken": []
          }
        ]
      }
    },
    "/api/tags/rest/{id}": {
      "get": {
        "summary": "Tag lesen",
        "tags": [
          "Tags"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Tag-ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tag.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tag"
                }
              }
            }
          },
          "404": {
            "description": "Objekt mit dieser ID nicht gefunden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Ungueltige/abgelaufene Session oder fehlgeschlagenes CSRF-Double-Submit (kein gueltiges JSESSIONID/x-xsrf-token-Paar). LIVE bestaetigt (part4, 2026-07-23): Body ist bei diff-Endpunkten teils leer, bei anderen Endpunkten (z.B. /f/exists) ApiError. Re-Auth-Regel: POST /api/f/token/login mit rememberMe versuchen, dann 1x wiederholen.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      }
    },
    "/api/companies/rest/diff": {
      "post": {
        "summary": "Firmen Delta-Sync",
        "description": "Absender-/Empfaenger-Firmen (z.B. Amazon, Vodafone, Hetzner). diff-rows[] enthaelt zusaetzlich bonusPoints, connectedCustomer, enterpriseCustomer, mainConversationId, connectedConversation, connectedSponsoredCompany.",
        "tags": [
          "Companies"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DiffRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Delta-Ergebnis (rows[] je Firma).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiffResult"
                }
              }
            }
          },
          "403": {
            "description": "Ungueltige/abgelaufene Session oder fehlgeschlagenes CSRF-Double-Submit (kein gueltiges JSESSIONID/x-xsrf-token-Paar). LIVE bestaetigt (part4, 2026-07-23): Body ist bei diff-Endpunkten teils leer, bei anderen Endpunkten (z.B. /f/exists) ApiError. Re-Auth-Regel: POST /api/f/token/login mit rememberMe versuchen, dann 1x wiederholen.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "sessionCookie": [],
            "xsrfToken": []
          }
        ]
      }
    },
    "/api/companies/rest/{id}": {
      "get": {
        "summary": "Firma lesen",
        "tags": [
          "Companies"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Firmen-ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Firma.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Company"
                }
              }
            }
          },
          "404": {
            "description": "Objekt mit dieser ID nicht gefunden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Ungueltige/abgelaufene Session oder fehlgeschlagenes CSRF-Double-Submit (kein gueltiges JSESSIONID/x-xsrf-token-Paar). LIVE bestaetigt (part4, 2026-07-23): Body ist bei diff-Endpunkten teils leer, bei anderen Endpunkten (z.B. /f/exists) ApiError. Re-Auth-Regel: POST /api/f/token/login mit rememberMe versuchen, dann 1x wiederholen.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      }
    },
    "/api/v1/companies/{id}/logo/HD": {
      "get": {
        "summary": "Firmen-Logo (High-Definition)",
        "tags": [
          "Companies"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Firmen-ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "query",
            "required": false,
            "description": "Cache-Busting-Version.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Logo-Bild.",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "contentEncoding": "binary"
                }
              }
            }
          },
          "404": {
            "description": "Objekt mit dieser ID nicht gefunden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Ungueltige/abgelaufene Session oder fehlgeschlagenes CSRF-Double-Submit (kein gueltiges JSESSIONID/x-xsrf-token-Paar). LIVE bestaetigt (part4, 2026-07-23): Body ist bei diff-Endpunkten teils leer, bei anderen Endpunkten (z.B. /f/exists) ApiError. Re-Auth-Regel: POST /api/f/token/login mit rememberMe versuchen, dann 1x wiederholen.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      }
    },
    "/api/companies/rest/{id}/main-contact": {
      "post": {
        "summary": "Haupt-Ansprechpartner setzen",
        "description": "Setzt mainContactId einer Firma.",
        "tags": [
          "Companies"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Firmen-ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "contactId": {
                    "type": "string",
                    "description": "Neue mainContactId."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Firma mit aktualisiertem mainContactId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Company"
                }
              }
            }
          },
          "404": {
            "description": "Objekt mit dieser ID nicht gefunden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Ungueltige/abgelaufene Session oder fehlgeschlagenes CSRF-Double-Submit (kein gueltiges JSESSIONID/x-xsrf-token-Paar). LIVE bestaetigt (part4, 2026-07-23): Body ist bei diff-Endpunkten teils leer, bei anderen Endpunkten (z.B. /f/exists) ApiError. Re-Auth-Regel: POST /api/f/token/login mit rememberMe versuchen, dann 1x wiederholen.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "sessionCookie": [],
            "xsrfToken": []
          }
        ]
      }
    },
    "/api/companies/{id}/logo": {
      "delete": {
        "summary": "Firmen-Logo loeschen",
        "description": "Zwei Code-Pfade beobachtet: ein oeffentliches Firmen-Logo (deletePublicLogo, dieser Endpunkt) und ein Profil-Logo des eigenen Nutzers (deleteProfileLogo, DELETE /api/{id}/logo) - beide ueber denselben /logo-Unterpfad.",
        "tags": [
          "Companies"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Firmen-ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Logo geloescht."
          },
          "404": {
            "description": "Objekt mit dieser ID nicht gefunden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Ungueltige/abgelaufene Session oder fehlgeschlagenes CSRF-Double-Submit (kein gueltiges JSESSIONID/x-xsrf-token-Paar). LIVE bestaetigt (part4, 2026-07-23): Body ist bei diff-Endpunkten teils leer, bei anderen Endpunkten (z.B. /f/exists) ApiError. Re-Auth-Regel: POST /api/f/token/login mit rememberMe versuchen, dann 1x wiederholen.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "sessionCookie": [],
            "xsrfToken": []
          }
        ]
      }
    },
    "/api/contacts/rest": {
      "post": {
        "summary": "Kontakt anlegen",
        "description": "firstName/lastName erscheinen im GET, nicht im beobachteten POST-Body - live verifizieren, moeglicherweise in address/separat.",
        "tags": [
          "Contacts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Angelegter Kontakt.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "403": {
            "description": "Ungueltige/abgelaufene Session oder fehlgeschlagenes CSRF-Double-Submit (kein gueltiges JSESSIONID/x-xsrf-token-Paar). LIVE bestaetigt (part4, 2026-07-23): Body ist bei diff-Endpunkten teils leer, bei anderen Endpunkten (z.B. /f/exists) ApiError. Re-Auth-Regel: POST /api/f/token/login mit rememberMe versuchen, dann 1x wiederholen.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "sessionCookie": [],
            "xsrfToken": []
          }
        ]
      }
    },
    "/api/contacts/rest/{id}": {
      "get": {
        "summary": "Kontakt lesen",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Kontakt-ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Kontakt.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "404": {
            "description": "Objekt mit dieser ID nicht gefunden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Ungueltige/abgelaufene Session oder fehlgeschlagenes CSRF-Double-Submit (kein gueltiges JSESSIONID/x-xsrf-token-Paar). LIVE bestaetigt (part4, 2026-07-23): Body ist bei diff-Endpunkten teils leer, bei anderen Endpunkten (z.B. /f/exists) ApiError. Re-Auth-Regel: POST /api/f/token/login mit rememberMe versuchen, dann 1x wiederholen.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      },
      "put": {
        "summary": "Kontakt aendern",
        "description": "Im HAR nicht direkt beobachtet - Muster gilt analog zu Dokumenten (generische PUT .../rest/{id}-Konvention).",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Kontakt-ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Contact"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Aktualisierter Kontakt.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            },
            "x-unverified": true,
            "x-unverified-note": "Endpunkt im HAR nicht direkt beobachtet - Existenz/Verhalten analog zur generischen PUT .../rest/{id}-Konvention angenommen."
          },
          "404": {
            "description": "Objekt mit dieser ID nicht gefunden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Ungueltige/abgelaufene Session oder fehlgeschlagenes CSRF-Double-Submit (kein gueltiges JSESSIONID/x-xsrf-token-Paar). LIVE bestaetigt (part4, 2026-07-23): Body ist bei diff-Endpunkten teils leer, bei anderen Endpunkten (z.B. /f/exists) ApiError. Re-Auth-Regel: POST /api/f/token/login mit rememberMe versuchen, dann 1x wiederholen.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "sessionCookie": [],
            "xsrfToken": []
          }
        ]
      }
    },
    "/api/document-types/rest/query": {
      "post": {
        "summary": "Dokumenttyp-Werte abfragen",
        "description": "Konkrete Werte je Dokumenttyp, verknuepft mit document-type-schemes ueber documentTypeScheme-FK.",
        "tags": [
          "DocumentTypes"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QueryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Paginierte Liste (Struktur wie DiffResult.rows, hier je DocumentType).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rows": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DocumentType"
                      }
                    },
                    "totalRows": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Ungueltige/abgelaufene Session oder fehlgeschlagenes CSRF-Double-Submit (kein gueltiges JSESSIONID/x-xsrf-token-Paar). LIVE bestaetigt (part4, 2026-07-23): Body ist bei diff-Endpunkten teils leer, bei anderen Endpunkten (z.B. /f/exists) ApiError. Re-Auth-Regel: POST /api/f/token/login mit rememberMe versuchen, dann 1x wiederholen.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "sessionCookie": [],
            "xsrfToken": []
          }
        ]
      }
    },
    "/api/document-type-schemes/rest/query": {
      "post": {
        "summary": "Dokumenttyp-Schemata abfragen",
        "description": "Feld-Schema (Feldtypen, Pflicht/optional, UI-Hinweise) - vollstaendige Feld-Constraint-Struktur in schemaDefinition.",
        "tags": [
          "DocumentTypes"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QueryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Paginierte Liste (Struktur wie DiffResult.rows, hier je DocumentTypeScheme).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rows": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DocumentTypeScheme"
                      }
                    },
                    "totalRows": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Ungueltige/abgelaufene Session oder fehlgeschlagenes CSRF-Double-Submit (kein gueltiges JSESSIONID/x-xsrf-token-Paar). LIVE bestaetigt (part4, 2026-07-23): Body ist bei diff-Endpunkten teils leer, bei anderen Endpunkten (z.B. /f/exists) ApiError. Re-Auth-Regel: POST /api/f/token/login mit rememberMe versuchen, dann 1x wiederholen.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "sessionCookie": [],
            "xsrfToken": []
          }
        ]
      }
    },
    "/api/conversations/rest/diff": {
      "post": {
        "summary": "Konversationen Delta-Sync",
        "description": "Nachrichten/Konversationen (Fileee-Postfach).",
        "tags": [
          "Sync"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DiffRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Delta-Ergebnis (rows[] je Conversation).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiffResult"
                }
              }
            }
          },
          "403": {
            "description": "Ungueltige/abgelaufene Session oder fehlgeschlagenes CSRF-Double-Submit (kein gueltiges JSESSIONID/x-xsrf-token-Paar). LIVE bestaetigt (part4, 2026-07-23): Body ist bei diff-Endpunkten teils leer, bei anderen Endpunkten (z.B. /f/exists) ApiError. Re-Auth-Regel: POST /api/f/token/login mit rememberMe versuchen, dann 1x wiederholen.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "sessionCookie": [],
            "xsrfToken": []
          }
        ]
      }
    },
    "/api/feature-licenses/rest/query": {
      "post": {
        "summary": "Lizenz-/Kontingent-Tracking abfragen",
        "description": "Ergaenzt GET /api/f/account-status um granulares Kontingent-Tracking.",
        "tags": [
          "Sync"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QueryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Paginierte Liste (Struktur wie DiffResult.rows, hier je FeatureLicense).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rows": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/FeatureLicense"
                      }
                    },
                    "totalRows": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Ungueltige/abgelaufene Session oder fehlgeschlagenes CSRF-Double-Submit (kein gueltiges JSESSIONID/x-xsrf-token-Paar). LIVE bestaetigt (part4, 2026-07-23): Body ist bei diff-Endpunkten teils leer, bei anderen Endpunkten (z.B. /f/exists) ApiError. Re-Auth-Regel: POST /api/f/token/login mit rememberMe versuchen, dann 1x wiederholen.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "sessionCookie": [],
            "xsrfToken": []
          }
        ]
      }
    },
    "/api/foreign-accounts/rest/query": {
      "post": {
        "summary": "Externe verbundene Konten abfragen",
        "description": "Ressource war in allen bisher untersuchten Konten leer.",
        "tags": [
          "Sync"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QueryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Paginierte Liste (Struktur wie DiffResult.rows, hier je ForeignAccount).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rows": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ForeignAccount"
                      }
                    },
                    "totalRows": {
                      "type": "integer"
                    }
                  }
                }
              }
            },
            "x-unverified": true,
            "x-unverified-note": "Feldstruktur offen (Verifikationspunkt h) - Ressource war in allen bisher untersuchten Konten leer."
          },
          "403": {
            "description": "Ungueltige/abgelaufene Session oder fehlgeschlagenes CSRF-Double-Submit (kein gueltiges JSESSIONID/x-xsrf-token-Paar). LIVE bestaetigt (part4, 2026-07-23): Body ist bei diff-Endpunkten teils leer, bei anderen Endpunkten (z.B. /f/exists) ApiError. Re-Auth-Regel: POST /api/f/token/login mit rememberMe versuchen, dann 1x wiederholen.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "sessionCookie": [],
            "xsrfToken": []
          }
        ]
      }
    },
    "/api/processes/diff": {
      "post": {
        "summary": "Prozesse/Workflows Delta-Sync",
        "description": "Im Traffic leer beobachtet.",
        "tags": [
          "Sync"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DiffRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Delta-Ergebnis (rows[] je Process).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiffResult"
                }
              }
            },
            "x-unverified": true,
            "x-unverified-note": "Im untersuchten Traffic leer - Feldstruktur von Process nicht beobachtet."
          },
          "403": {
            "description": "Ungueltige/abgelaufene Session oder fehlgeschlagenes CSRF-Double-Submit (kein gueltiges JSESSIONID/x-xsrf-token-Paar). LIVE bestaetigt (part4, 2026-07-23): Body ist bei diff-Endpunkten teils leer, bei anderen Endpunkten (z.B. /f/exists) ApiError. Re-Auth-Regel: POST /api/f/token/login mit rememberMe versuchen, dann 1x wiederholen.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "sessionCookie": [],
            "xsrfToken": []
          }
        ]
      }
    },
    "/api/reminders/rest/diff": {
      "post": {
        "summary": "Erinnerungen/Fristen Delta-Sync",
        "tags": [
          "Sync"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DiffRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Delta-Ergebnis (rows[] je Reminder).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiffResult"
                }
              }
            }
          },
          "403": {
            "description": "Ungueltige/abgelaufene Session oder fehlgeschlagenes CSRF-Double-Submit (kein gueltiges JSESSIONID/x-xsrf-token-Paar). LIVE bestaetigt (part4, 2026-07-23): Body ist bei diff-Endpunkten teils leer, bei anderen Endpunkten (z.B. /f/exists) ApiError. Re-Auth-Regel: POST /api/f/token/login mit rememberMe versuchen, dann 1x wiederholen.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "sessionCookie": [],
            "xsrfToken": []
          }
        ]
      }
    },
    "/api/settings/rest/query": {
      "post": {
        "summary": "Nutzereinstellungen abfragen",
        "tags": [
          "Sync"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QueryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Paginierte Liste (Struktur wie DiffResult.rows, hier je Setting).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rows": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Setting"
                      }
                    },
                    "totalRows": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Ungueltige/abgelaufene Session oder fehlgeschlagenes CSRF-Double-Submit (kein gueltiges JSESSIONID/x-xsrf-token-Paar). LIVE bestaetigt (part4, 2026-07-23): Body ist bei diff-Endpunkten teils leer, bei anderen Endpunkten (z.B. /f/exists) ApiError. Re-Auth-Regel: POST /api/f/token/login mit rememberMe versuchen, dann 1x wiederholen.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "sessionCookie": [],
            "xsrfToken": []
          }
        ]
      }
    },
    "/api/actions/{actionKey}": {
      "get": {
        "summary": "Benannte Aktionsgruppe abrufen",
        "description": "actionKey ist ein semantischer Key, KEINE opake ID - belegt: companies-with-actions.",
        "tags": [
          "Sync"
        ],
        "parameters": [
          {
            "name": "actionKey",
            "in": "path",
            "required": true,
            "description": "Semantischer Aktionsgruppen-Key.",
            "schema": {
              "type": "string",
              "examples": [
                "companies-with-actions"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Aktionsgruppen-Ergebnis.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionGroupResult"
                }
              }
            }
          },
          "404": {
            "description": "Objekt mit dieser ID nicht gefunden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Ungueltige/abgelaufene Session oder fehlgeschlagenes CSRF-Double-Submit (kein gueltiges JSESSIONID/x-xsrf-token-Paar). LIVE bestaetigt (part4, 2026-07-23): Body ist bei diff-Endpunkten teils leer, bei anderen Endpunkten (z.B. /f/exists) ApiError. Re-Auth-Regel: POST /api/f/token/login mit rememberMe versuchen, dann 1x wiederholen.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      }
    },
    "/push/sse/{clientId}": {
      "get": {
        "summary": "Server-Sent-Events (Live-Push)",
        "description": "clientId ist eine CLIENT-generierte Zufalls-UUID (getRandomUUID()), KEINE server-vergebene Subscription-ID - reine Verbindungs-Kennung, keine Server-Ressource. Events: open (Bookkeeping), keepAlive (periodischer Ping), Default-message mit SsePushEvent-Payload. Kommentar-/Heartbeat-Zeilen beginnen mit ':' und werden ignoriert (Standard-SSE-Konvention).",
        "tags": [
          "Push"
        ],
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "description": "Client-generierte Zufalls-UUID (getRandomUUID()).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subscription",
            "in": "query",
            "required": false,
            "description": "Serialisierter PushSubscriptionBuilder-Deskriptor (SerializationFormat.KMM je EntityType).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "keepAlive",
            "in": "query",
            "required": false,
            "description": "Keep-Alive-Intervall in Sekunden.",
            "schema": {
              "type": "string",
              "examples": [
                "10"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "text/event-stream mit Events open, keepAlive und message (SsePushEvent-Payload als JSON-String).",
            "content": {
              "text/event-stream": {
                "schema": {
                  "$ref": "#/components/schemas/SsePushEvent"
                }
              }
            }
          },
          "403": {
            "description": "Ungueltige/abgelaufene Session oder fehlgeschlagenes CSRF-Double-Submit (kein gueltiges JSESSIONID/x-xsrf-token-Paar). LIVE bestaetigt (part4, 2026-07-23): Body ist bei diff-Endpunkten teils leer, bei anderen Endpunkten (z.B. /f/exists) ApiError. Re-Auth-Regel: POST /api/f/token/login mit rememberMe versuchen, dann 1x wiederholen.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      }
    },
    "/api/{resourceKey}/rest/query": {
      "post": {
        "summary": "Generische Query (beliebige Ressource)",
        "description": "Generischer Einstieg fuer Liste/Paginierung - :id (hier resourceKey genannt) ist der Ressourcen-Key. Nicht abschliessend verifiziert, welche Ressourcen so adressierbar sind (vermutlich alle Sync-faehigen Ressourcen).",
        "tags": [
          "Sync"
        ],
        "parameters": [
          {
            "name": "resourceKey",
            "in": "path",
            "required": true,
            "description": "Ressourcen-Key (z.B. documents, tags, companies).",
            "schema": {
              "type": "string",
              "examples": [
                "documents"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QueryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Paginierte Liste, Struktur ressourcenabhaengig.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rows": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "totalRows": {
                      "type": "integer"
                    }
                  }
                }
              }
            },
            "x-unverified": true,
            "x-unverified-note": "Nicht abschliessend verifiziert, welche Ressourcen ueber diesen generischen Pfad adressierbar sind."
          },
          "403": {
            "description": "Ungueltige/abgelaufene Session oder fehlgeschlagenes CSRF-Double-Submit (kein gueltiges JSESSIONID/x-xsrf-token-Paar). LIVE bestaetigt (part4, 2026-07-23): Body ist bei diff-Endpunkten teils leer, bei anderen Endpunkten (z.B. /f/exists) ApiError. Re-Auth-Regel: POST /api/f/token/login mit rememberMe versuchen, dann 1x wiederholen.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "sessionCookie": [],
            "xsrfToken": []
[...]
